<h1>Home Page</h1>

<%= link_to "Introduction", home_introduction_path %>
<%= link_to "Our Services", home_services_path %>
<%= link_to "Contact Us", home_contact_path %>
<%= link_to "Request a Programmer", home_request_programmer_path %>

<%= link_to "View All Tasks", tasks_path %>
